<div class="filter-panel-wrapper">
  <mat-accordion class="filters-accordion">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="filter-title">{{ title }}</span>
          @if (subtitle) {
            <span class="filter-subtitle">{{ subtitle }}</span>
          }
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="formGroup" class="filter-form">
        <ng-content></ng-content>

        <div class="filter-actions">
          <button
            mat-raised-button
            color="primary"
            (click)="onSearch()"
            type="button"
            [disabled]="isLoading"
            class="search-button"
          >
            @if (isLoading) {
              <ng-container>
                <mat-icon class="loading-spinner">hourglass_empty</mat-icon>
                <span>Carregando...</span>
              </ng-container>
            } @else {
              <ng-container>
                Pesquisar
              </ng-container>
            }
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
